<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @functionality.description %>
</p>

<%= link_to 'Edit', edit_functionality_path(@functionality) %> |
<%= link_to 'Back', functionalities_path %>
